<div class="container">
    <div class="container">
        <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
          <label>Fournisseurs </label>
          <select class="form-control form-control-lg" id="id" name="id" [(ngModel)]="IdFourn"  (change)="onChange()">
            @for(four of fournisseurs;track four.id)
            {
            <option value="{{four.id}}"> {{four.nom}} {{four.prenom}} </option>
            }
          </select>
        </div>
    

    <div class="card shadow mb-4">
      <div class="card-body">
  
        @if (pcs.length > 0) {
          <h2>Nombre total de PCs : {{ pcs.length }}</h2>
        }
  
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="8">Liste de Pcs</th>
            </tr>
            <tr>
              <th>Number</th>
              <th>Id</th>
              <th>Marque</th>
              <th>Reference</th>
              <th>Prix</th>
              <th>Date Création</th>
              <th>Fournisseur</th>
              <!--<th>Action</th>-->
            </tr>
          </thead>
          <tbody>
            @for (pc of pcs; track pc.idPc; let index = $index) {
              <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ pc.idPc }}</td>
                <td>{{ pc.marquePc }}</td>
                <td>{{ pc.referencePc }}</td>
                <td>{{ pc.prixPc }}</td>
                <td>{{ pc.dateCreation | date:'dd/MM/yyyy' }}</td>
                <td>{{ pc.fournisseur.nom }} {{ pc.fournisseur.prenom }}</td>
                <!--<td><a class="btn btn-danger" (click)="supprimerPc(pc)">Supprimer</a></td>
                <td><a class="btn btn-success" [routerLink]="['/updatePc', pc.idPc]">Modifier</a></td>
              --></tr>
            } @empty {
              
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>